@import '../../sass/main';

.concerts {
    min-height: 100vh;
    padding: 0% 15%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scroll-snap-align: start;
    @include respond("tablet") {
        min-height: 0vh;  
        scroll-snap-align: none;
        display: block;
        padding: 25% 15% 5% 15%;
    }
    .concerts1-container {
        margin: 7% 5% 0 0;
        @include respond("tablet") {  
            display: none;
        }
    }
    .concerts2-container {
        width: 100%;
        margin-top: 7%;
        .concerts-title {
            @include respond("tablet") { 
                font-size: 14vw;
                margin-bottom: 3%;
            }
        }
        .concerts2-content-container {
            display: flex;
            .nextconcerts-list {
                margin: 5% 5% 5% 0;
                width: 45%;
                @include respond("tablet") {  
                    display: none;
                }
                .nextconcert-container {
                    border-bottom: 1px solid black;
                    .nextconcert {
                        border-top: 1px solid black;
                        .concert-name {
                            color: $dark-brown;
                            font-weight: 600;
                        }
                    }
                }
            
            }
            .allconcertslink-container {
                position: relative;
                @include respond("tablet") { 
                    margin: 0 3%;
                }
                .allconcertslink-img {
                        width: 15vw;
                        height: 20vw;
                        object-fit: cover;
                    @include respond("tablet") { 
                        width: 60vw;
                        height: 70vw;
                    }
                    picture {
                        img {
                            @include respond("tablet") {  
                                // width: 100%;
                                // height: 80vw;
                            }
                        }
                    }
                }
                .allconcerts-btn {
                    font-family: $body-font;
                    position: absolute;
                    bottom: -5%;
                    right: -10%;
                    padding: 10%;
                    background-color: $light-gray;
                    text-align: center;
                    color: black;
                    font-weight: 600;
                    transition: all .5s ease;
                    @include respond("tablet") { 
                        font-size: 3vw;
                        background-color: $dark-green; 
                        color: #fff; 
                    }
                    &:hover {
                        background-color: $dark-green; 
                        color: #fff; 
                    }
                }
            }
        }
    }
}
