@import '../../sass/main';

footer {
    background: $background-color;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0 10%;
    .footer-links-box {
        border-top: 1px solid black;
        display: flex;
        margin: 0;
        padding: 0 5%;
        @include respond("phone")  {  
            padding: 3% 5%;
        }
        h5 {
            font-family: $header-font;
            font-weight: 400;
            font-size: 25px;
            margin: 3%;
            @include respond("phone")  {  
                font-size: 16px;
            }
        }
        .footer-links {
            display: flex;
            list-style-type: none;
            justify-content: space-between;
            align-items: center;
            .footer-link {
                margin: 0 30%;
                @include respond("phone")  {  
                    margin: 0 15%;
                }
                svg {
                    @include respond("phone")  {  
                        width: 1.5em;
                    }
                }
            }
        }
        .footer-credits {
            font-family: $body-font;
            font-size: 13px;
            font-weight: 400; 
            color: $dark-brown;
            position: absolute;
            right: 5%;
            bottom: 0;
            @include respond("tablet")  {  
                font-size: 10px;
                bottom: -5%;
                right: 3%;
            }
            @include respond("phone")  {  
                font-size: 8px;
                bottom: -5%;
                right: 3%;
            }
            .silsc {
                color: $dark-brown;
                font-weight: 600; 
            }
        }
    }

}